.header {
    background-color: #073042;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 70px;
  }
  
  .header__logo-auth{
    cursor: pointer;
    background-image: url("../../images/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 38px;
    height: 38px;
  }

  .header__logo-auth:hover {
    opacity: .6;
  }
  
  .header_white {
    background-color: #fff;
  }
  
  .header__nav-auth {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .header__button-auth {
    border-radius: 3px;
    text-decoration: none;
    background-color: #3ddc84;
    width: 76px;
    height: 32px;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-self: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__button-auth:hover {
    opacity: .6;
  }
  
  .header__link-auth {
    align-self: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    padding-right: 30px;
  }

  .header__link-auth:hover {
    opacity: .6;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
  }
  
  /* MOVIE */
  
  .header__nav-movie {
    display: grid;
    grid-template-columns: 67px min-content 100px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .header__nav-movie-link {
    color: #000;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    text-align: right;
    text-decoration: none;
    width: 144px;
  }

  .header__nav-movie-link_color-white {
    color: #fff;
  }
  
  .header__nav-movie-button {
    border: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    border-radius: 25px;
    height: 32px;
    column-gap: 7px;
  }
  
  .header__nav-movie-img {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #f9f9f9;
    padding: 7.75px;
  }

  .header__container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }

  .header__nav-movie-button_green {
    background-color: #3ddc84;
  }
  
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 0 30px;
  }

  .header__container {
    display: none;
  }

  .header__nav-movie-button {
    display: none;
  }

  .header__nav-movie {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 0 14px;
  }

  .header__container {
    display: none;
  }

  .header__nav-movie-button {
    display: none;
  }

  .header__link-auth {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    padding-right: 14px;
  }
  .header__button-auth {
    width: 54px;
    height: 26px;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }

  .header__nav-movie {
    grid-template-columns: 67px max-content;
  }
}